<section>
    <div class="content">
        <h1>Dashboard</h1>

        <div class="cards">
            <!-- Total Movies -->
            <div class="card-dashboard">
                <div class="icon" style="background-color: #ff9800;">
                    <i class="fa fa-ticket-alt"></i>
                </div>
                <div class="content-card">
                    <h3>Total Products</h3>
                    <p id="value-total-movies">0</p>
                </div>
            </div>

            <!-- Total Users -->
            <div class="card-dashboard">
                <div class="icon" style="background-color: #4caf50;">
                    <i class="fa fa-user"></i>
                </div>
                <div class="content-card">
                    <h3>Total Users</h3>
                    <p id="value-total-users">0</p>
                </div>
            </div>

            <!-- Total Revenue -->
            <div class="card-dashboard">
                <div class="icon" style="background-color: #f44336;">
                    <i class="fa fa-dollar-sign"></i>
                </div>
                <div class="content-card">
                    <h3>Total Revenue</h3>
                    <p id="value-total-revenue">0</p>
                </div>
            </div>
        </div>
    </div>
</section>